*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("image/bg-contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
.container{
    position: absolute;
    width: 500px;
    background-color: azure;
    box-shadow: 0 0 20px 0 #999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
form{
    margin: 35px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
h3{
    color: #33cc33;
    text-align: center;
}
.container textarea{
    height: 150px;
    padding-top: 10px;
}