@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(image/logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    width: 100vw;
    height: 80px;
    background-color: rgba(0,0,0,0.5);
}
.logo{
    width: 100px;
    height: auto;
    margin: 5px 0 0 20px;
    border-radius: 30px;
}
.navbar ul{
    float: right;
    margin-right: 40px;
    padding-bottom: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 20px;
    display: inline-block;
    height: 60px;
    width: auto;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 13px;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: #34eb83;
    opacity: 0.8;
    border-radius: 5px;
    transition: 0.4s;
}
.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Roboto', sans-serif;
}
.center h1{
    color: white;
    font-size: 72px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: white;
    font-size: 48px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center .buttons{
    margin: 35px 270px;
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #f3f3f3;
    background:#34eb83 ;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}
.buttons .btn{
    margin-left: 20px;
}
.buttons button:hover{
    opacity: 0.5;
}